/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1, h2, h3 {
    color: #333;
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header h1 {
    margin: 10px 0;
}

header p {
    font-size: 1.2em;
}

/* Section styles */
section {
    padding: 30px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px 0;
}

.project-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}

.project-card a {
    text-decoration: none;
    color: #4CAF50;
}

.project-card a:hover {
    text-decoration: underline;
}


#contact{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    text-align: center;
}

#contact ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
}

#contact ul li a {
    color: #4CAF50;
    text-decoration: none;
}   

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
